@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

@import "./normalize";
@import "./variables";
@import "./functions";

* {
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  height: 100vh;
}

#App {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: $black;
  z-index: 2;
  opacity: 0.6;

  &--hide {
    display: none;
  }
}

.hero {
  background-image: url("../images/mobile-image-hero-1.jpg");
  background-size: cover;
  height: 55vh;
}

.header {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 2rem;

  &__logo {
    order: 2;
    height: 16px;
  }
}

.nav {
  position: absolute;
  background: $white;
  height: 100px;
  width: 100%;

  z-index: 3;
  transition: opacity 0.3s ease-in-out;

  &--hide {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    // display: none;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  align-items: center;
  list-style: none;
  padding-bottom: 0.3rem;

  &__item {
    margin-right: 1.65rem;
  }

  &__link {
    font-weight: bold;
    text-decoration: none;
    color: $black;
    font-size: pxToRem(12);
  }

  /*  TODO: animated border */
  &--active {
  }
}

.hamburger {
  position: absolute;
  top: 35px;
  left: 32px;
  height: fit-content;

  z-index: 4;

  margin-top: 3px;

  -webkit-user-select: none;
  user-select: none;

  &__line {
    display: block;

    width: 28px;
    height: 3px;
    margin-bottom: 6px;

    background: $white;
    border-radius: 1px;

    z-index: 1;

    transition: transform 0.3s ease-in-out;

    &--transform {
      background: lighten($gray, 15%);
      margin-top: 4px;
      transform: rotate(180deg);

      &:nth-child(1) {
        width: 24px;
        transform: rotate(45deg) translate(3px, 3px);
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      &:nth-child(3) {
        width: 24px;
        transform: rotate(-45deg) translate(10px, -10px);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.controls {
  display: flex;
  height: calc(100% - 100px);

  justify-content: flex-end;
  align-items: flex-end;

  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $black;
    height: 64px;
    width: 64px;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $dark-gray;
    }
  }
}

.content {
  display: flex;
  flex-flow: column nowrap;

  font-size: pxToRem(12);
  padding: 3rem 2rem;

  &__title {
    font-size: pxToRem(26);
    margin-bottom: 0;
  }

  &__text {
    line-height: 1.7;
    color: $gray;
    font-weight: 600;
  }

  &__cta {
    margin-top: 3rem;
    display: flex;
  }
}

.cta {
  display: flex;
  align-items: center;
  color: $black;

  &--primary {
    text-transform: uppercase;
    letter-spacing: pxToRem(10);
    font-weight: bold;
  }

  &__icon {
    margin-left: 2rem;
    margin-bottom: 0.3rem;
  }
}
